@model List<showdriverIdForOwner>
@{
    ViewData["Title"] = "addBuses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .table-box {
        overflow-y: scroll;
        height: 400px;
        border: 0px solid #fff;
        padding: 50px 60px;
        margin-top: 5vh;
        -webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
        box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
    }

    .form-container {
        border: 0px solid #fff;
        padding: 50px 60px;
        margin-top: 5vh;
        -webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
        box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="table-box">
                <table class="table table-dark">
                    <thead>
                        <tr>

                            <th scope="col">Driver ID</th>
                            <th scope="col">Driver Name</th>
                            <th scope="col">Bus number</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ 
                            foreach (var i in Model)
                            {
                            <tr>
                                <td>@i.driverId</td>
                                <td>@i.driverName</td>
                                <td>@i.busNumber</td>
                            </tr>
                                }
                            }


                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-9">
            <form class="form-container" action="inputFromBus">
                <h1 class="text-center text-white">Registration</h1>
                <div class="form-group">
                    <label class="text-white font-weight-bold" for="name">Enter bus number</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter Name" name="busNumber">
                </div>
                <div class="form-group">
                    <label class="text-white font-weight-bold" for="email">Enter driverId: </label>
                    <input type="text" class="form-control" id="email" placeholder="Enter driver id" name="driverId">
                </div>
                <div class="form-group">
                    <label class="text-white font-weight-bold" for="email">Enter service name:  </label>
                    <input type="text" class="form-control" id="email" placeholder="Enter service name" name="service">
                </div>
                <div class="form-group">
                    <label class="text-white font-weight-bold" for="email">Enter number of male seat:  </label>
                    <input type="text" class="form-control" id="email" placeholder="Enter number of male seat" name="maleSeat">
                </div>
                <div class="form-group">
                    <label class="text-white font-weight-bold" for="email">Enter number of female seat:  </label>
                    <input type="text" class="form-control" id="email" placeholder="Enter number of male seat" name="femaleSeat">
                </div>


                <button type="submit" class="btn btn-success btn-block">Submit</button>

            </form>

        </div>
    </div>
</div>

