
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h4>
        E-Bus Service’ is a online bus management system which will be used only in Dhaka city.
        Using this system, the passengers will be able to purchase the bus ticket, will get to know the bus location and the number of available seats in the bus.
        There are options of booking seats for physically disabled persons and women.
        This system ensures of actual fare.<br>
 

        The owner and driver will get the actual amount of their desired portion.
    </h4>
    <h4>
        FAQ:
        1. Maximum number of seats a passenger can book?<br>
        --One
        <br >
        2. Can any passenger get refund?<br>
        --Yes.<br>
        3. Is there any review system?<br>
        --Yes. Passengers can give ratings about the service.<br>
    </h4>
    
</div>

