
@{
    ViewData["Title"] = "notAccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <br />
    <br />
    <br />
    <h2 class="text-center">Sorry you have no access in this page. You have to Sign in to view this page</h2>
</div>


